<h1>Themes</h1>

<% @themes.each do |theme| %>
  <div><%= link_to(theme.number, theme_path(theme.number)) %></div>
  <div><%= theme.theme %></div>
  <% theme.themeparagraphs.each do |themeparagraph| %>
  <% if themeparagraph.main == 'x' %>
  <b><%= themeparagraph.iqan.number %></b>
  <% else %>
  <%= themeparagraph.iqan.number %>
  <% end %>
  <% end %>
  <ul>
  <% theme.subthemes.each do |subtheme| %>
    <li><%= subtheme.subtheme %>
      <% subtheme.subthemeparagraphs.each do |subthemeparagraph| %>
      <% if subthemeparagraph.main == 'x' %>
      <b><%= subthemeparagraph.iqan.number %></b>
      <% else %>
      <%= subthemeparagraph.iqan.number %>
      <% end %>
      <% end %>
    </li>
    <% end %>
    </ul>
<% end %>
